/*
* @Author: calasaba
* @Date:   2018-07-28 08:41:50
* @Last Modified by:   calasaba
* @Last Modified time: 2018-07-28 08:43:48
*/
{
    'presets' : [['env', {'loose' : true, 'modules' : false}], 'stage-0']
}